<!-- 
	1. All meetings displayed
	2. Create meeting form
		-> meeting name
		-> primary attendee - creator of meeting
		-> secondary attendees
		-> time,location (add later)
 -->
<html lang="en" ng-app="home">
<head>
	<title>Home page</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
</head>
<body ng-controller="homeController">

<!-- 	<script src="./js/personInfo.js"></script> -->
	<script src="./js/homeApp.js"></script>
	<script src="./js/addAttendee.js"></script>
	<div>	
		<!-- Display all meetings -->
		<div style="border: 1px solid black">
			User Id - {{currentUser.id}}
			<div>
				<h2>Meetings Hosted</h2>
				<div class="meetingHosted">
					<ul ng-repeat="meeting in hostedMeeting">
						<li>{{meeting.name}}</li>
	<!-- 					<li>{{meeting.secondaryAttendee.name}} -->
					</ul>
				</div>
				
			</div>
			<div>
				<h2>Meetings Attended</h2>
				<div class="meetingAttended">
					<ul ng-repeat="meeting in attendedMeeting">
						<li>{{meeting.name}}</li>
	<!-- 					<li>{{meeting.secondaryAttendee.name}} -->
					</ul>
				</div>	
				
			</div>
		</div>
		
		<!-- Create a meeting -->
		<div style="border: 1px solid black">
			<h2>Create a meeting</h2>
				<form>
					<div id="createMeeting">
						
							Name your meeting : <input type="text" name="meetingName" ng-model="meeting.name" /><br/>
							Attendees : <br/>
							<input type="button" value="Add another" onClick="addAttendee('createMeeting');" />
							<br/><br/>
							Attendee 1 : <br/>
							<input type="text" name="attendee1" ng-model="meeting.attendee" /><br/>
							
					</div>
					<button ng-click="createMeeting">Create Meeting</button>
<!-- 					<input type="submit" value="Create meeting" /> -->
				</form>
			
		</div>
		
	</div>
	
</body>
</html>
